on:
  pull_request:
    types: [closed]
    branches: ['release-patch']

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for pushing tags

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set node LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install
        run: npm ci

      - name: Configure Git
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"

      - name: Build a release candidate
        run: npm run prerelease-patch

      - name: Tag & push changes
        run: npm run git-push
